@use './variables' as v;

#sidebar {
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.25);
    .sidebar-default {
        display: flex;
        flex-direction: column;
        gap: 16px;
        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            p {
                cursor: pointer;
            }
        }
    }
    .sidebar-projects {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h2 {
            font-size: 1.25rem;
            font-family: v.$fontPrimary;
        }
        .sidebar-projects-adder {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            cursor: pointer;
        }
        .sidebar-project-box {
            display: flex;
            gap: 16px;
            align-items: center;
        }
    }
}

.warning {
    display: flex;
    flex-direction: column;
    gap: 8px;
    div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
#project-form {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    width: 200px;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.sidebar-created-projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


@media screen and (max-width: 1000px) {
    #sidebar {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        box-shadow: 0px 3px 1px 1px rgba(0,0,0,0.25);
    }
}